<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voucher Notification</title>
</head>
<body>
<div class="container">
    <h1>Dưới đây là mã OTP của bạn:</h1>
    <h3><span th:text="${otp}"></span></h3>
    <div class="footer">
        <p style="font-weight: bold;">================================================</p>
        <div style="font-weight: bold; text-align: center; line-height: 1.8; margin-left: 0; margin-right: auto; width: fit-content;">
            <p>ShoseShop</p>
            <p>Số điện thoại: 0392313572</p>
            <p>Địa chỉ: Số 141 - Chiến Thắng - Văn Quán - Hà Đông - Hà Nội</p>
        </div>
    </div>
</div>
</body>
</html>
